bin
obj
/packages
PassivePowers.sln.DotSettings.user
.idea
.vs
PassivePowers/Libs/assembly_guiutils.dll
PassivePowers/Libs/0Harmony.dll
PassivePowers/Libs/assembly_utils.dll
PassivePowers/Libs/assembly_valheim.dll
PassivePowers/Libs/BepInEx.dll
